*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{

    min-height: 150vh;
    background: url("../Images/Image_fx (4).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 6px 14px;
    transition: .6s;
}

.sidebar.active{
    width: 250px;
}

.sidebar .logo-menu{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}

.sidebar .logo-menu .logo{
   font-size: 25px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .logo{
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .4s;
}

.sidebar.active .logo-menu .toggle-btn{
    left: 90%;
}

.sidebar .list{
    margin-top: 10px;
    text-transform: uppercase;
}

.list .list-item{
    list-style: none;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin: 5px 0;
}

.list .list-item a{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    white-space: nowrap;
    transition: .4s;
    text-decoration: none;
}



.list .list-item a i{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}

.list .list-item .active ,
.list .list-item a:hover{
    background: rgba(255,255,255,0.2);
    box-shadow: inset 0 0 10px rgba(255,255,255,0.3);
}

.sidebar .link-name{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name{
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}
